 /* layout */
.app-container {
  height: 100vh;
  width: 100vw;
}

.left {
  height: 100%;
  width: 25%;
}

.center {
  height: 100%;
  width: 50%;
}

.right {
  height: 100%;
  width: 25%;
}

.chatroom-container {
  height: 90%;
  width: 100%;
}

.chatrooms-list {
  height: 75%;
  width: 100%;
  overflow: scroll;
  align-items: baseline !important;
  flex-wrap: wrap;
}

.creation-container {
  height: 10%;
  width: 100%;
}

.creation-input-container {
  height: 114px;
  width: 400px;
  margin: auto auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.creation-submit-container {
  @extend .creation-input-container;
  align-items: center;
}

/* components */
.back-btn {
  color: #E4E4E4;
  font-size: 20px;
  margin: 10px 0 0 10px;
  &:hover {
    color: #DC2525;
    cursor: pointer;
  }
}

.chatroom-card {
  height: 100px;
  width: 90%;
  background-color: white;
  border-radius: 5px;
  margin: 5px 0;
}

.checkbox {
  height: 15px;
  width: 15px;
  margin-left: 10%;
  background-color: white;
  border: 1px solid #ADADAD;
  border-radius: 5px;
  &:hover {cursor: pointer;}
}

.creation-btn {
  height: 50px;
  width: 215px;
  background-color: #91DA86;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: #83D576;
    box-shadow: 2px 4px 8px #D8D8D8;
  }
  h3 {
    color: white;
    font-size: 18px;
  }
}

.creation-form {
  height: 400px;
  width: 550px;
  background-color: white;
  box-shadow: 2px 4px 8px #D8D8D8;
  border-radius: 5px;
  margin: 0 auto;
  h1 {
    font-size: 25px;
    color: #464646;
  }
  h5 {
    font-size: 15px;
    font-weight: 100;
    color: #CBCBCB;
  }
}

.search {
  height: 40px;
  width: 70%;
  margin-top: 25%;
  margin-left: 10%;
  padding: 1px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 8px #D8D8D8;
  color: #383838;
  font-weight: 400;
  font-size: 14px;
}
.search::-webkit-input-placeholder {
  color: #B2B2B2;
  font-weight: 100;
  font-size: 14px;
}

.submit-btn {
  @extend .creation-btn;
  height: 40px;
  width: 125px;
}

/* misc */
.my-chatrooms {
  height: 50px;
  width: 100%;
  align-items: center;
  h6 {
    color: #464646;
    font-weight: 100;
    font-size: 14px;
    margin-left: 10px;
  }
}

.ticked {
  background-color: #91DA86;
  border: 1px solid #91DA86;
}




















