/* layout */
.app-container {
  height: 100vh;
  width: 1250px;
  margin: 0 auto;
}

.left {
  height: 100%;
  width: 25%;
  padding: 25px 0 25px 25px;
  .top {
    height: 10%;
    width: 90%;
    margin: 0 auto;
  }
  .bottom {
    height: 90%;
    width: 100%;
  }
}

.center {
  height: 100%;
  width: 50%;
  padding: 25px 10px;
}

.right {
  height: 100%;
  width: 25%;
}

.chatroom-container {
  height: 90%;
  width: 100%;
}

.chatroom-top {
  height: 15%;
  padding: 25px 25px 10px 25px;
  p {
    color: #D64B5C;
    font-size: 18px;
    font-weight: 600;
    background-color: #CFCED6;
    border-radius: 50%;
    padding: 5px 8px;
    &:hover {cursor: pointer}
  }
}

.chatroom-info {
  height: 100%;
  color: #B2B2B2;
  justify-content: space-around;
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 15px;
    font-weight: 100;
    opacity: 0.8;
  }
}

.chatroom-middle {
  height: 70%;
  overflow: scroll;
}

.chatroom-bottom {
  height: 15%;
}

.chatrooms-list {
  height: 85%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.creation-container {
  height: 10%;
  width: 100%;
  align-items: baseline !important;
}

.creation-input-container {
  height: 114px;
  width: 400px;
  margin: auto auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.creation-submit-container {
  @extend .creation-input-container;
  align-items: center;
}

/* components */
.back-btn {
  color: #E4E4E4;
  font-size: 20px;
  margin: 10px 0 0 10px;
  &:hover {
    color: #DC2525;
    cursor: pointer;
  }
}

.chatroom {
  height: 90%;
  width: 95%;
  background-color: #212430;
  border-radius: 5px;
  box-shadow: 2px 4px 8px #D8D8D8;
  margin: 0 auto;
}

.chatroom-card {
  height: 115px;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  margin: 10px auto;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 4px 8px #E4E4E4;
  }
  .top {
    height: 30%;
    width: 100%;
    align-items: center;
    padding: 0 10px;
  }
  .name {
    height: 23%;
    width: 100%;
    padding: 0 10px;
    h3 {
      color: #464646;
      font-size: 17px;
      font-weight: 500;
    }
  }
  .description {
    height: 27%;
    width: 100%;
    padding: 0 10px;
    h5 {
      color: #CBCBCB;
      font-size: 12px;
      font-weight: 100;
    }
  }
  .bottom {
    height: 20%;
    width: 100%;
    padding: 0 10px;
  }
}

.checkbox {
  height: 14px;
  width: 14px;
  margin-left: 15px;
  background-color: white;
  border: 1px solid #ADADAD;
  border-radius: 4px;
  &:hover { cursor: pointer }
}

.creation-btn {
  height: 50px;
  width: 215px;
  background-color: #91DA86;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: #83D576;
    box-shadow: 2px 4px 8px #D8D8D8;
  }
  h3 {
    color: white;
    font-size: 18px;
  }
}

.creation-form {
  height: 400px;
  width: 550px;
  background-color: white;
  box-shadow: 2px 4px 8px #D8D8D8;
  border-radius: 5px;
  margin: 0 auto;
  h1 {
    font-size: 25px;
    color: #464646;
  }
  h5 {
    font-size: 15px;
    font-weight: 100;
    color: #CBCBCB;
  }
}

.join-badge {
  background-color: #91DA86;
  border-radius: 5px;
  border: 1px solid #91DA86;
  padding: 3px 8px;
  &:hover {
    cursor: pointer;
  }
  p, i {
    color: white;
  }
  i {
    margin-right: 2px;
    font-size: 11px;
  }
  p {
    margin-left: 2px;
    font-size: 11px;
  }
}

.member-badge {
  background-color: #F3F3F3;
  border-radius: 5px;
  border: 1px solid #C1C1C1;
  padding: 3px 8px;
  &:hover {
    cursor: default;
  }
  p, i {
    color: #B2B2B2;
    font-size: 11px;
    font-weight: 100;
  }
  i { margin-right: 2px }
  p { margin-left: 2px }
}

.search {
  height: 50px;
  width: 95%;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 8px #E4E4E4;
  color: #383838;
  font-weight: 400;
  font-size: 14px;
}
.search::-webkit-input-placeholder {
  color: #B2B2B2;
  font-weight: 100;
  font-size: 14px;
}

.submit-btn {
  @extend .creation-btn;
  height: 40px;
  width: 125px;
}

/* misc */
.active {
  color: #91DA86;
  font-size: 13px;
  margin-right: 10px;
}

.creator p {
  color: #CBCBCB;
  font-size: 10px;
  font-weight: 100;
}

.fa-power-off {
  font-size: 20px;
  color: #D4D4D4;
  &:hover {
    color: #D64B5C;
    cursor: pointer;
  }
}

.members-count {
  color: #464646;
  i {
    font-size: 12px;
    margin-right: 5px;
  }
  h6 {
    font-size: 11px;
    font-weight: 100;
  }
}

.my-chatrooms {
  width: 100%;
  margin: 15px 0;
  align-items: center;
  h6 {
    color: #383838;
    font-weight: 100;
    font-size: 13px;
    margin-left: 10px;
  }
}

.not-a-member {
  background-color: #E1E1E1;
  &:hover {
    cursor: default;
  }
  h5 {
    color: #868686 !important;
  }
  .creator p {
    color: #868686 !important;
  }
}

.ticked {
  background-color: #91DA86;
}




















